.titre{
    font-family: cursive;
    font-optical-sizing: auto;
    color:rgb(224, 47, 16);
    font-style: normal;
   text-align: center;
   font-size:xx-large;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #e4990f;
    color: black;
    padding: 1em;
}

nav{
    width: 100%;
    background-image: url('raton laveur-unsplash.jpg');
    background-size:35%; 
    background-position:left;
    background-repeat: no-repeat; 
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}




nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav ul li a:hover {
    background-color:rgb(189, 175, 96);
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em;
}

.image-container {
    position:relative;
    width: 100%;
    
}

.image-container img {
    width: 100%;
    
    height: auto;
    display: block;
}

.text-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    font-size: 1.2em;
}



.commentairesclient{
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color: #b9702c;
}

.commentairesclient {
    background-color: white;
    padding: 1em;
    margin: 0 1em;
    box-shadow: 0 0 10px rgba(199, 164, 8, 0.959);
    flex: 1;
    text-align: center;
}



footer {
    background-color:#e4990f ;
    color: white;
    text-align: center;
    padding: 1em 0;
    position:relative;
    width: 100%;
    bottom: 0;
}
